# SlicerServer configuration
# Edit this file when moving the bridge to another PC.
# For distribution, put only your Amiga IP address in ALLOWED_CLIENTS.

HOST=0.0.0.0
PORT=18090
ALLOWED_CLIENTS=127.0.0.1,::1,IP_OF_YOUR_AMIGA
MAX_UPLOAD_MB=64
ALLOW_PC_PATHS=no
PRUSA_EXE=C:\Program Files\Prusa3D\PrusaSlicer\prusa-slicer-console.exe
BASE_DIR=C:\SlicerBridge
PROFILE_STANDARD=C:\Users\YourName\AppData\Roaming\PrusaSlicer\Your_Printer_Profile.ini
